{% extends 'base.html.twig' %}

{% block title %}Hello GateauController!{% endblock %}

{% block body %}




            <h3>{{ gateau.name }}</h3>

            <p><strong>{{ gateau.description }}</strong></p>


{% endblock %}
